<div class ="container">
    <div class ="row">
        <div class ="col-md-6 col-md-offset-3">
            <div class="overview">
                <h2 class ="text-center">Enter Your Gigs Details</h2>
                <br/>
                <div class ="new-gig-card">
                    <form method="post">
                        <div class="form-group">
                            <label>Gig Title</label>
                            <input type ="text" class="form-control" placeholder="I Will do blah blah" name="gig_title" required>
                        </div>

                          <div class="form-group">
                            <label>Gig Price</label>
                            <input type ="text" class="form-control" placeholder="$5" name="gig_price" required>
                        </div>

                      <div class="form-group">
                            <label>Gig category</label>
                           <select class="form-control" name="gig_category" required>
                               <option>Guitarist</option>
                                  <option>Painst</option>
                                     <option>Ukaalili</option>
                                      <option>Rockstar</option>
                                      </select>
                            
                        </div>

                          <div class="form-group input-group-lg">
                            <label>Gig About</label>
                            <input type ="text" class="form-control" placeholder="Describe your Gig" name="gig_about" required>
                        </div>
                        <button type ="submit" class="btn btn-success btn-lg">Submit </button> 

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>